extends templates/layouts/_default

block head
  - pageTitle = "Popup";

block content
   //- | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat necessitatibus, non temporibus expedita, provident aliquam, molestias vitae rerum error optio dolore. Accusantium repudiandae, quam commodi nulla a dolorum ea.
